<div class="row">
  <div class="drop-label">章节</div>
</div>
<div class="row standard-margin-top">
  <div *ngIf="!chapterList || !chapterList.length">
    企鹅读取中……
  </div>
  <div class="stage-buttons d-flex justify-content-start flex-wrap align-content-between">
    <div class="stage-button-container" *ngFor="let oneChapter of chapterList">
      <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': oneChapter && oneChapter === chapter}"
        (click)="selectChapter(oneChapter)">
        {{oneChapter.zoneName}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="chapter">
  <div class="row standard-margin-top">
    <div class="drop-label">作战</div>
  </div>
  <div class="row standard-margin-top">
    <div *ngIf="!stageList || !stageList.length">
      企鹅读取中……
    </div>
    <div class="stage-buttons d-flex justify-content-start flex-wrap align-content-between">
      <div class="stage-button-container" *ngFor="let oneStage of stageList">
        <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': oneStage && oneStage === stage}"
          (click)="selectStage(oneStage)">
          {{oneStage.code}}
        </button>
      </div>
    </div>
  </div>
</div>