@import "../../app.component.scss";

.intro {
  font-size: 1.2rem;
  line-height: 1.7;
}

.intro-p {
  padding: 0.5rem 0 0.5rem 0;
}

.license-text {
  font-size: 0.7rem;
}

.intro-topic {
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.4rem 0 0.4rem 0;
}
