<div class='body'>
  <div class="container">
    <div class="row" style="padding-bottom: 2rem;">
      <h2>Welcome to Penguin Statistics!</h2>
    </div>
    <div class="row intro">
      Penguin Statistics是企鹅物流旗下数据处理部门，致力于各作战素材掉落统计分析。
    </div>
    <div class="row intro">
      由于不像某些页游可以通过分析数据包自动上传掉落情况，只能人工进行录入。
    </div>
    <div class="row intro">
      <br />
    </div>
    <div class="row intro">
      目前只需要录入满星评价（普通3星，突袭4星）的掉落情况。
    </div>
    <div class="row intro">
      批量上传功能正在开发中，深感人手不足...
    </div>
    <div class="row intro">
      如果有任何建议或者问题，欢迎联系 <a href="https://www.weibo.com/u/6434065694">@AlvISs_红白</a>
    </div>
    <div class="row intro">
      <br />
    </div>
    <div class="row intro">
      感谢您的使用。
    </div>
  </div>
</div>