<div class='body'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="row" style="padding-bottom: 0.8rem;">
          <h2>Welcome to Penguin Statistics!</h2>
        </div>

        <div class="row">
          <div class="col-12 d-sm-none d-flex flex-wrap justify-content-center">
            <div style="min-width: 200px; min-width: 200px;">
              <img src="https://penguin-stats.s3-ap-southeast-1.amazonaws.com/penguin_stats_logo.png"
                style="max-width: 100%; max-height: 100%;">
            </div>
          </div>
        </div>

        <div class="intro-p">
          <div class="row intro">
            企鹅物流数据统计（Penguin Statistics）是企鹅物流旗下数据处理部门（误），致力于各作战素材掉落统计分析。
          </div>
        </div>

        <div class="intro-p">
          <div class="row intro">
            目前绝大部分数据由玩家手动上传，为了尽量减少谎报、误报对结果的影响，企鹅数据团队会对掉落进行多方位的审查。
          </div>
        </div>

        <div class="intro-p">
          <div class="row intro">
            <div class="col-sm-6 col-12">
              <div class="row intro-topic">已实现功能</div>
              <div class="row">
                <ul>
                  <li>掉落数据上传</li>
                  <li>素材掉率与效率查看</li>
                  <li>个人上传数据查看</li>
                  <li>刷图规划工具</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="row intro-topic">努力开发中</div>
              <div class="row">
                <ul>
                  <li>批量上传</li>
                  <li>截图识别上传</li>
                  <li>个人上传历史管理</li>
                  <li>掉率走势图</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <img src="https://penguin-stats.s3-ap-southeast-1.amazonaws.com/penguin_stats_logo.png"
          style="max-width: 100%; max-height: 100%;">
      </div>
    </div>
  </div>
</div>