.sprite-img {
  display: inline-block;
  background: url("https://penguin-stats.s3-ap-southeast-1.amazonaws.com/item_sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
