@import "../../app.component.scss";

.standard-margin-top {
  margin-top: 0.6rem;
}

.stage-button-container {
  margin: 0.5rem 1rem 0 0;
}

.drop-label {
  font-size: 1.2rem;
}

.material-container {
  max-width: 50px;
  min-width: 60px;
  width: 10%;
  margin: 0 1rem 0 0;
}

.material-container .hover-pointer :hover {
  cursor: pointer;
}

.material-drop-quantity-container {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.url-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.dialog-button-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
