@import "../../app.component.scss";

#myFooter {
  background-color: #3c3d41;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter h2 a {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

#myFooter a {
  color: #d2d1d1c0;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }
}

.copyright-container {
  font-size: 0.7rem;
  padding-left: 0;
  line-height: 2;
  color: #d2d1d1;

  .a {
    color: #bebebe;
  }

  .copyright-text {
    text-align: left;
  }
}
