<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">明日方舟素材掉落统计</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/report']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">掉落汇报<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/result']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">统计结果<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>