@import "../../app.component.scss";

.standard-margin-top {
  margin-top: 0.6rem;
}

.stage-button-container {
  margin: 0.5rem 1rem 0 0;
}

.drop-label {
  font-size: 1.2rem;
}

.material-container {
  min-width: 45px;
  max-width: 60px;
  width: 100%;
  margin: 1rem 1rem 0 0;
}

.material-container .hover-pointer :hover {
  cursor: pointer;
}

.result-label {
  font-size: 1.5rem;
  padding-top: 2rem;
}

.material-glowing {
  box-shadow: 0px 0px 4px 4px rgba(255, 0, 39, 0.5);
}

.url-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.material-container-for-stage-result {
  min-width: 45px;
  max-width: 60px;
  width: 100%;
  margin: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.result-table-container {
  margin-top: 1rem;
}

table {
  width: 100%;
}

@media (min-width: 420px) {
  .result-tip {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .result-table-container {
    overflow-x: scroll;
    margin-left: -10%;
    margin-right: -10%;

    .table-responsive {
      // display: block;
      // width: 100%;
      // overflow-x: auto;
      // margin-left: -7%;
      // min-width: 98vw;
      padding-left: 0px !important;

      .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
      }

      .mat-row,
      .mat-header-row {
        display: table-row;
      }

      .mat-cell,
      .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }
}
