<div class="row join-container">
  <div class="col-12">
    <div class="row" style="line-height: 2;">
      项目仓库：<a href="https://github.com/AlvISsReimu/arknights-stats">前端</a>&nbsp;&nbsp;<a
        href="https://github.com/AlvISsReimu/PenguinStats">后端</a>
    </div>
    <div class="row" style="line-height: 2;">
      如果您有以下一项或多项经验，愿意为企鹅数据贡献自己的一份力量，请加QQ群：747099627
    </div>
    <div class="row" style="line-height: 2; font-size: 0.9rem;">
      *本项目为无偿开源项目
    </div>
    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">网站前端开发 Angular (正在用Vue.js重写)</li>
        <li class="list-group-item">网站后端开发 Java Spring Boot、MongoDB</li>
        <li class="list-group-item">网站运维</li>
        <li class="list-group-item">UI/UX设计</li>
        <li class="list-group-item">数据统计分析</li>
        <li class="list-group-item">...</li>
      </ul>
    </div>
  </div>
</div>