<div class="row donate-container">
  <div class="col-12">
    <div class="row">
      <del>用户量激增，服务器月费上涨，企鹅数据的运营陷入了危机。站长红白为了保护喜爱的企鹅数据而决定...</del>
    </div>
    <div class="row">
      随着访问量的增加，目前的小水管服务器已经有些不堪重负了。如果各位刀客塔能捐助一些<span [tooltip]="donateTooltip" placement="top"
        style="border-bottom:1px dashed #ccc;">服务器费用</span>，我们将不胜感激!
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card donate-card">
          <img class="card-img-top" src="https://penguin-stats.s3-ap-southeast-1.amazonaws.com/alipay.png" alt="支付宝二维码">
          <div class="card-body" style="padding: 0;">
            <div class="card-text" style="text-align: center;">支付宝</div>
          </div>
        </div>
        <div class="card donate-card">
          <img class="card-img-top" src="https://penguin-stats.s3-ap-southeast-1.amazonaws.com/wechat.png"
            alt="微信支付二维码">
          <div class="card-body" style="padding: 0;">
            <div class="card-text" style="text-align: center;">微信支付</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>