<div class='body'>
  <div class="container">
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-07-27</h5>
      </div>
      <div class="row log-row">
        1. 首页、页脚重新规划
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-07-18</h5>
      </div>
      <div class="row log-row">
        1. 整合ArkPlanner
      </div>
      <div class="row log-row">
        2. 优化页面加载速度
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-07-16</h5>
      </div>
      <div class="row log-row">
        1. 完善用户ID机制，已经可以正常查看个人数据了
      </div>
      <div class="row log-row">
        2. 改良手机端的掉落数据展示
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-07-01</h5>
      </div>
      <div class="row log-row">
        1. 加强掉落汇报审核
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-06-07</h5>
      </div>
      <div class="row log-row">
        1. 重构代码，ID标准化，方便与其他平台、工具对接
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-06-02</h5>
      </div>
      <div class="row log-row">
        1. 增加本地掉落统计，之后的版本会提供清空、导入导出等功能
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-05-30</h5>
      </div>
      <div class="row log-row">
        1. 更换网站logo
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-05-28</h5>
      </div>
      <div class="row log-row">
        1. 添加赤金、经验书掉落，其样本数从添加之时开始累计
      </div>
      <div class="row log-row">
        2. 为月底活动做准备
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-05-26</h5>
      </div>
      <div class="row log-row">
        1. 统计结果添加理智消耗
      </div>
      <div class="row log-row">
        2. 首页添加群号
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-05-25</h5>
      </div>
      <div class="row log-row">
        1. 统计结果增加排序功能。（筛选正在做）
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-05-24</h5>
      </div>
      <div class="row log-row">
        1. 离开统计结果页面再回去时，保留之前所选的作战/道具。
      </div>
      <div class="row log-row">
        2. 统计结果（按道具）页面突出所选道具。
      </div>
      <div class="row log-row">
        3. 统计结果表格内，可以单击作战名或者素材跳转到相应的统计结果。
      </div>
    </div>
    <div class="log-oneday">
      <div class="row" class="log-date">
        <h5>2019-05-23</h5>
      </div>
      <div class="row log-row">
        1. Penguin Statistics上线。
      </div>
      <div class="row log-row">
        2. 所选作战是S开头时，不显示突袭。
      </div>
      <div class="row log-row">
        3. 单次掉落汇报增加警示标语。
      </div>
    </div>
  </div>
</div>