<!-- <div>用户ID：{{userID}}</div>
    <div><button type="button" class="btn btn-outline-primary btn-sm" (click)="logout()">登出</button></div> -->
<div class="row d-flex flex-row align-items-center">
    <div>
        用户ID：{{userID ? userID : '暂无，上传一次即可拥有'}}
    </div>
    <div class="help-icon-container">
        <mat-icon class="help-icon" tooltip="用户ID仅用来标记您的上传身份。在不同设备上使用此ID登录，可让掉落数据集中于一个账号下，方便管理上传以及查看个人掉落数据。"
            placement="bottom">
            help</mat-icon>
    </div>
    <button type="button" class="btn btn-outline-primary btn-sm log-in-out-button" (click)="login()">
        <span *ngIf="userID">切换账号</span>
        <span *ngIf="!userID">登录</span>
    </button>
</div>